*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0;
}

ul {
    list-style: none;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeightNormal;

    background-color: $colorWhite;
    //overflow: hidden;

}

.container {
    min-height: 100vh;
    min-width: 360px;
    
    background: linear-gradient($colorDark, rgba($colorDark, 0.0001)), url('../images/image-hero-mobile.jpg') ;
    
    background-repeat: no-repeat;
    background-size: 100% 128px, contain;

    position: relative;

    
    @include media(tablet) {
        background: linear-gradient($colorDark, rgba($colorDark, 0.0001)),url('../images/image-hero-desktop.jpg');
    
        background-repeat: no-repeat;
        background-size: 100% 128px, 100%;
    }

    @include media(desktop) {
        width: 1440px;
        margin: 0 auto;

    }
}