.project {
    padding: 0 24px 76px 24px;

    @include media(tablet) {
        padding: 0;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 62px;
    }

    @include media(laptop) {
        width: 730px;
        margin-bottom: 124px;
    }

    &__header {
        text-align: center;
        background: $colorWhiteLight;
        border-radius: 8px;

        padding: 52px 24px 40px 24px;
        margin-bottom: 24px;

        position: relative;

        @include media(laptop) {
            padding: 56px 48px 48px 48px;
        }

        .logo {
            width: 56px;

            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);
        }

        h1 {
            font-size: 20px;
            color: $colorDark;
            font-weight: $fontWeightBolder;
            line-height: 24px;

            padding: 0 20px;
            margin: 0;
            margin-bottom: 16px;

            @include media(laptop) {
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 15px;
            }
        }

        p {
            margin-bottom: 24px;

            @include media(laptop) {
                margin-bottom: 40px;
            }
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .bookmark {
                display: grid;
                place-items: center;

                border-radius: 33.5px;

                svg {
                    height: 56px;
                }

                span {
                    display: none;
                }

                @include media(tablet) {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    &:hover svg {
                        circle {
                            fill: #707070;
                        }
                    }

                    &.active {
                        svg {
                            circle {
                                fill: $colorPrimary;
                            }

                            path {
                                fill: $colorWhite;
                            }
                        }

                        span {
                            color: $colorPrimary;
                        }
                    }

                    svg {
                        margin-right: 16px;

                        circle {
                            transition: $transition;
                        }
                    }

                    span {
                        display: inline-block;
                        text-transform: capitalize;

                        font-size: 16px;
                        color: $colorDarkLight;
                        font-weight: $fontWeightBolder;
                        line-height: 20px;
                        letter-spacing: 0.1px;

                        margin-right: 24px;
                    }
                }
            }
        }
    }

    &__stats {
        background-color: $colorWhiteLight;
        text-align: center;
        border-radius: 8px;

        padding: 32px 24px 40px 24px;
        margin-bottom: 24px;

        @include media(laptop) {
            text-align: left;
            padding: 48px;
        }

        .list {
            margin-bottom: 32px;

            @include media(laptop) {
                margin-bottom: 37px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        .item {
            @include media(laptop) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .wrapper {
                @include media(laptop) {
                    margin-right: 42px;
                }

                h3 {
                    font-size: 32px;
                    color: $colorDark;
                    font-weight: $fontWeightBolder;
                    line-height: 40px;

                    margin-bottom: 9px;

                    @include media(laptop) {
                        margin-bottom: 9px;
                    }
                }

                p {
                    font-size: 14px;
                    color: $colorDarkLight;
                    font-weight: $fontWeightNormal;
                    line-height: 17px;

                    margin-bottom: 24px;

                    @include media(laptop) {
                        font-size: 15px;
                        line-height: 18px;
                        margin-bottom: 0px;
                    }
                }
            }

            .line {
                height: 1px;
                background-color: rgba($colorDark, 0.15);
                width: 80px;
                margin: 0 auto;
                margin-bottom: 24px;

                @include media(laptop) {
                    width: 1px;
                    height: 63px;
                    margin-bottom: 0px;
                    margin-right: 47px;
                }
            }
        }

        .progress {
            height: 12px;
            background-color: rgba($colorDark, 0.05);
            border-radius: 33.5px;

            & > div {
                height: 12px;
                width: 60%;
                border-radius: 33.5px;

                background-color: $colorPrimaryLight;
            }
        }
    }

    &__about {
        padding: 40px 24px;
        background-color: $colorWhiteLight;
        border-radius: 8px;

        @include media(laptop) {
            padding: 48px;
        }

        h2 {
            margin-bottom: 24px;

            @include media(laptop) {
                margin-bottom: 35px;
            }
        }

        p {
            @extend .text;

            @include media(laptop) {
                line-height: 30px;
            }

            &.first {
                margin-bottom: 24px;

                @include media(laptop) {
                    margin-bottom: 30px;
                }
            }

            &.second {
                margin-bottom: 35px;

                @include media(laptop) {
                    margin-bottom: 40px;
                }
            }
        }

        .pledge {
            border: 1px solid rgba($colorDark, 0.15);
            border-radius: 8px;
    
            padding: 24px;
            margin-bottom: 24px;     
            
            &:last-child {
                margin-bottom: 0;
            }

            @include media(laptop) {
                padding: 37px 32px 32px;
            }

            & > p {
                margin-bottom: 24px;
            }
    
            .wrapper {

                @include media(laptop) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &--caption {
                    margin-bottom: 24px;
    
                    h3 {
                        &:first-of-type {
                            margin-bottom: 8px;

                            @include media(laptop) {
                                margin-bottom: 0;
                            }
                        }
                    }                    
                }
    
                &--footer {
                    p {

                        display: flex;
                        align-items: center;
                        justify-content: flex-start; 
                        margin-bottom: 24px;

                        @include media(laptop) {
                            margin-bottom: 0;
                        }
    
                        .left {
                            font-size: 32px;
                            color: $colorDark;
                            line-height: 39px;
                            font-weight: $fontWeightBolder;
                            margin-right: 8px;
                        }
    
                        .right {
                            font-size: 15px;
                            color: $colorDarkLight;
                            font-weight: $fontWeightNormal;
                            line-height: 18px;
                        }                        
                    }                      
                    
                }

            }
        }

    }    

}
