.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;

    background-color: rgba($colorDark, 0.5);

    &__pledge {
        padding: 121px 24px 120px;

        .modal-container {
            background-color: $colorWhiteLight;
            border-radius: 8px;
            padding: 32px 24px 31px;

            & > p {
                margin-bottom: 24px;
            }
        }

        .modal-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 24px;

            &__close {
                display: grid;
                place-items: center;

                background-color: transparent;

                h2 {
                    @extend .caption;
                    font-weight: $fontWeightBolder;
                }

                svg {
                    width: 14px;
                }
            }
        }

        .pledge-option {
            border: 1px solid rgba($colorDark, 0.15);
            border-radius: 8px;
            margin-bottom: 24px;

            &__wrapper {
                padding: 24px 24px 32px;
            }

            &__submit-wrapper {
                border-top: 1px solid rgba($colorDark, 0.15);
                padding: 24px;

                display: none;
            }

            .header-wrapper {
                margin-bottom: 24px;

                .radio-wrapper {
                    display: block;
                    cursor: pointer;
                    user-select: none;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    position: relative;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        position: relative;
                        height: 24px;
                        width: 24px;
                        margin-right: 16px;

                        border: 1px solid rgba($colorDark, 0.15);
                        border-radius: 50%;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: $colorPirimaryLight;
                            display: none;
                        }
                    }

                    .fixed-height {
                        height: 42px;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                    }

                    .mb {
                        margin-bottom: 8px;
                    }

                    input:checked ~ .checkmark::after {
                        display: block;
                    }
                }

                h3 {
                    //height: 42px;
                    margin-left: 40px;
                }
            }

            .stats-wrapper {
                margin-top: 24px;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                .left {
                    font-size: 18px;
                    color: $colorDark;
                    line-height: 22px;
                    font-weight: $fontWeightBolder;
                    margin-right: 8px;
                }

                .right {
                    font-size: 15px;
                    color: $colorDarkLight;
                    font-weight: $fontWeightNormal;
                    line-height: 18px;
                }
            }

            .pledge-form {

                & > h4 {
                    @extend .text;
                    line-height: 27px;
                    text-align: center;
                    margin-bottom: 16px;
                }

                .form-control-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        @extend .btn-pledge;
                        padding: 15px 25px 16px 26px;
                    }

                }

                .form-control {
                    border: 1px solid rgba($colorDark, 0.15);  
                    border-radius: 33.5px;   
                    
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: $fontWeightBolder;
                    color: $colorDark;
                    
                    padding: 15px 24px 15px;

                    label {
                        opacity: 0.25;
                        margin-right: 8px;
                    }

                    input {
                        font-size: inherit;
                        color: inherit;
                        line-height: inherit;
                        font-weight: inherit;
                        border: 0;
                        width: 35px;

                        /* Firefox */
                        -moz-appearance: textfield;
                        /* Chrome, Safari, Edge, Opera */
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &:focus {
                            outline: 0;
                        }

                        &:disabled {
                            background-color: inherit;
                        }


                    }
                }
            }
        }
    }
}
