.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba($colorDark, 0.5);

    // display: grid;
    // place-items: center;

    &__pledge {
        padding: 121px 24px 120px;

        .modal-container {
            background-color: $colorWhiteLight;
            border-radius: 8px;
            padding: 32px 24px 31px;

            & > p {
                margin-bottom: 24px;
            }
        }

        .modal-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 24px;

            &__close {
                display: grid;
                place-items: center;

                background-color: transparent;

                h2 {
                    @extend .caption;
                    font-weight: $fontWeightBolder;
                }

                svg {
                    width: 14px;
                }
            }
        }

        .pledge-option {
            border: 1px solid rgba($colorDark, 0.15);
            border-radius: 8px;

            padding: 24px;
            margin-bottom: 24px;

            & > .wrapper {
                // display: flex;
                // align-items: center;
                // justify-content: flex-start;

                margin-bottom: 24px;

                .radio-wrapper {
                    display: block;
                    cursor: pointer;
                    user-select: none;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    position: relative;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        position: relative;
                        height: 24px;
                        width: 24px;
                        margin-right: 16px;

                        border: 1px solid rgba($colorDark, 0.15);
                        border-radius: 50%;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: $colorPirimaryLight;
                            display: none;
                        }

                    }

                    .fixed-height {
                        height: 42px;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                    }

                    .mb {
                        margin-bottom: 8px;
                    }

                    input:checked ~ .checkmark::after {
                        display: block;
                    }
                }

                h3 {
                    //height: 42px;
                    margin-left: 40px;
                }
            }

            p.text {
                margin-bottom: 8px;
            }
        }
    }
}
