.open-modal {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.disabled-fade {
    opacity: 0 !important;
}

.disabled{
    display: none !important;
}

.caption {
    font-size: 18px;
    color: $colorDark;
    font-weight: $fontWeightBold;
    line-height: 22px;

    @include media(laptop) {
        font-size: 20px;
        line-height: 24px;
        font-weight: $fontWeightBolder;
        }
    }

.caption__pledge {
    font-size: 14px;
    color: $colorDark;
    font-weight: $fontWeightBolder;
    line-height: 17px;

    &--green {
        color: $colorPirimaryLight;
        font-weight: $fontWeightBold;
    }

    @include media(laptop) {
        font-size: 18px;
        line-height: 22px;

        &--green {
            font-size: 15px;
            line-height: 18px;
        }
    }
}

.text {
    font-size: 14px;
    color: $colorDarkLight;
    font-weight: $fontWeightNormal;
    line-height: 24px;

    @include media(laptop) {
        font-size: 16px;
        line-height: 20px;
    }
}

.btn {

    font-size: 16px;
    font-weight: $fontWeightBolder;
    line-height: 20px;
    border-radius: 33.5px;
    letter-spacing: 0.4px;

    padding: 17px 42px 19px;
    cursor: pointer;
    transition: $transition;

    &--green {
        background-color: $colorPirimaryLight;
        color: $colorWhiteLight;

        &:hover {
            background-color: $colorPrimary;
        }
    }
}

.btn-pledge {
    font-size: 14px;
    color: $colorWhiteLight;
    font-weight: $fontWeightBolder;
    line-height: 17px;
    border-radius: 33.5px;
    letter-spacing: 0.4px;

    background-color: $colorPirimaryLight;
    cursor: pointer;

    padding: 15px 33px 16px 32px;
    transition: $transition;  

    &:hover {
        background-color: $colorPrimary;
    }   
    
    &__disabled {
        background-color: $colorDarkLight;
        pointer-events: none;
    }
}
