.open-modal {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.disabled-fade {
    opacity: 0 !important;
}

.disabled{
    display: none !important;
}

.caption {
    font-size: 18px;
    color: $colorDark;
    font-weight: $fontWeightBold;
    line-height: 22px;

    @include media(laptop) {
        font-size: 20px;
        line-height: 24px;
        font-weight: $fontWeightBolder;
        }
    }

.text {
    font-size: 14px;
    color: $colorDarkLight;
    font-weight: $fontWeightNormal;
    line-height: 24px;

    @include media(laptop) {
        font-size: 16px;
        line-height: 20px;
    }
}

.btn {

    font-size: 16px;
    font-weight: $fontWeightBolder;
    line-height: 20px;
    border-radius: 33.5px;
    letter-spacing: 0.4px;

    padding: 17px 42px 19px;
    cursor: pointer;
    transition: $transition;

    &--green {
        background-color: $colorPirimaryLight;
        color: $colorWhiteLight;

        &:hover {
            background-color: $colorPrimary;
        }
    }
}
