@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Spartan:wght@700&display=swap');

$colorPirimary: #3cb4ac;
$colorPrimaryLight: #147b74;

$colorDark: #000000;
$colorDarkLight: #7a7a7a;

$colorWhiteLight: #ffffff;
$colorWhite: #F2F2F2;

$fontFamily: 'Commissioner', sans-serif;
$fontSize: 14px;
$fontWeightNormal: 400;
$fontWeightBold: 500;
$fontWeightBolder: 700;

$transition: all 0.2s;
